body {
    box-sizing: border-box;
    display: grid;
    place-content: center;
    grid-template: repeat(var(--n-rows), var(--l))/repeat(var(--n-cols), var(--ri));
    grid-gap: var(--hl) 0;
    overflow: hidden;
    margin: 0;
    padding: var(--hl) 0;
    height: 100vh;
    background: #262626;
    filter: drop-shadow(2px 2px 5px);
}


// .hex-cell {
//     overflow: hidden;
//     grid-column-end: span 2;
//     margin: calc(-1*var(--hl)) 0;
//     transform: scale(0.95);
//     clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
// }


// div {
//     display: block;
// }

// img {
//     --hl: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     transform: scale(calc(1 + .2*var(--hl)));
//     filter: brightness(calc(.6*(1 + var(--hl))));
//     transition: .7s;
// }

#hex-1{
    float: left;
    margin-left: -15px;
    margin-bottom: -20px;
    clip-path: polygon(49% 0, 92% 26%, 92% 74%, 49% 100%, 6% 74%, 6% 25%);
    background-image: url(../images/G-Cord_Live_@_Rotation_01-04-20.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
}

#hex-2{
    float: left;
    margin-left: -15px;
    margin-bottom: -20px;
    clip-path: polygon(49% 0, 92% 26%, 92% 74%, 49% 100%, 6% 74%, 6% 25%);
    background-image: url(../images/G-Cord_Live_@_Tommys_Pub.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
}

#hex-3{
    float: left;
    margin-left: -15px;
    margin-bottom: -20px;
    clip-path: polygon(49% 0, 92% 26%, 92% 74%, 49% 100%, 6% 74%, 6% 25%);
    background-image: url(../images/Let_the_Beat_Control_Your_Booty.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
}

#hex-4{
    float: left;
    margin-left: -15px;
    margin-bottom: -20px;
    clip-path: polygon(49% 0, 92% 26%, 92% 74%, 49% 100%, 6% 74%, 6% 25%);
    background-image: url(../images/lo-fi_Daydream.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
}

#hex-5{
    float: left;
    margin-left: -15px;
    margin-bottom: -20px;
    clip-path: polygon(49% 0, 92% 26%, 92% 74%, 49% 100%, 6% 74%, 6% 25%);
    background-image: url(../images/LUVdub.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
}

#hex-6{
    float: left;
    margin-left: -15px;
    margin-bottom: -20px;
    clip-path: polygon(49% 0, 92% 26%, 92% 74%, 49% 100%, 6% 74%, 6% 25%);
    background-image: url(../images/BassFace&Chill.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
}

#hex-7{
    float: left;
    margin-left: -15px;
    margin-bottom: -20px;
    clip-path: polygon(49% 0, 92% 26%, 92% 74%, 49% 100%, 6% 74%, 6% 25%);
    background-image: url(../images/NightOfJazz.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
}
#hex-8{
    float: left;
    margin-left: -15px;
    margin-bottom: -20px;
    clip-path: polygon(49% 0, 92% 26%, 92% 74%, 49% 100%, 6% 74%, 6% 25%);
    background-image: url(../images/YouGot2StopIt.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
}

.hex-row {
    clear: left;
    margin-bottom: -10px;
    margin-top: -10px;
}
.hex-row.even {
    margin-left: auto;
    margin-right: auto;
}